
.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: white;
  font-weight: 800;
}

.axis path, .axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.histogram {
  font: 10px sans-serif;
  height: 150px;
}

.tick text {
  fill: grey;
}
