* {
  border-radius: 0px !important
}

.tooltip{
  z-index: 9999999999;
}

body {
  margin: 0px;
  overflow: hidden;
}

.dl-horizontal dt {
  width: 73px !important
}
.dl-horizontal dd {
  margin-left: 80px !important;
  font-size: 12px;
  margin-top: 3px;
}

i.btn{
  word-spacing: -8px;
  padding: 3px;
  margin: 2px;
}

small{
  color: grey;
}

h4{
  font-weight: bold;
}
