.leaflet-control-selector{
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  font-size: 22px;
  width: 30px;
  height: 30px;
  padding: 4px;
  color: black;
}

.map {
  width: calc(50% - 150px);
  height: 100%;
  position: relative;
  //border: 2px solid black
}

#maps-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

#map-divider{
  background-color: black;
  position: absolute;
  height: 100%;
  width: 3px;
  border: 3px solid black;
  left: calc(50% - 150px);
  top: 0;
  z-index: 999;
  cursor: ew-resize;
}

.map-scale{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  background-color: white;
}

#map1 .map-scale::before{
  content: "200 m";
  float: left;
  margin: -5px -40px;
}

#map2 .map-scale::after{
  content: "200 m";
  margin: -5px -40px;
  float: right;
}
