#panel {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 300px;
  max-width: 300px;
  z-index: 500;
  padding: 10px;
  opacity: 0.95;
  color: black;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.legend-panel-heading, .result-panel-heading{
  height: 40px;
  padding: 5px;
}

.panel-title{
  margin-top: 4px;
  font-size: 15px;
}

.attribute-filter{
  background-color: #dddddd;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  min-height: 40px;
}

#panel .textFilter.glyphicon{
  margin-right: 4px
}

div#query-panel i.btn{
  padding: 1px;
}

.panels{
  width: 100%;
  height: 94%;
  overflow-x: hidden;
  //overflow-y: scroll;
}

.panel-navbar-li{
  cursor: pointer;
}

.panel .panel-body.panel-closed{
  padding: 0px
}

.search-for-results{
  display: block;
}
