
input[type="range"] {
  -webkit-appearance: none;
  background-color: black;
  border: 2px solid white;
  height: 7px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 2px solid black;
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 12px;
  height: 12px;
  cursor: pointer;

  border-radius: 5px;
  background-color: #2c3e50;
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
  font-weight: bold;
}

/* Tool Tip */
#rangevalue {
  font-size: 13px;
  color: black;
  position: relative;
  font-weight: bold;
}

.relation-rate-slider{
  margin: 7px;
  width: 100px !important;
}

.relation-rate-slider-div{
  display: -webkit-inline-box;
  margin: 10px 0px 10px 10px;
}
