#sqlPanel{
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid black;
  background-color: white;
  z-index: 1000;
  font-size: 11px;
  opacity: 0.95;
}

#sqlPanel p{
  margin: 0px;
}
